<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>浙江工业大学新闻模板</title>
    <script src="../js/vue.js"></script>
    <link href="../css/universal.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/newsTemplate.css">
</head>
<body>
<div id="background"></div>
<div id="header">
    <div id="top">
        <section id="logo">
            <a href="index.html">浙江工业大学</a>
        </section>
        <nav>
            <a href="">学生培养</a>
            <a href="">院系&师资</a>
            <a href="">学术研究</a>
            <a href="newsSite.html">工大新闻</a>
        </nav>
        <button id="search"><a href="">🔍搜索</a></button>
    </div>
</div>
<div id="content">
    <div id="news">
        <div><h1>{{title}}</h1></div>
        <hr>
        <div id="detail">
            <span>{{ author }}</span>
            <span>{{time}}</span>
        </div>
        <div id="message">
            <div v-for="item in report" :key="item.id">
                <div v-if="item.type==='p'">
                    <p v-for="content in item.text" class="text">
                        {{content}}
                    </p>
                </div>
                <div class="photo">
                    <img v-if="item.type==='photo'" :src="item.src" :alt="item.slide">
                    <span v-if="item.type==='photo'" class="img-span">
                    {{item.slide}}
                </span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="footer">
        <div id="footer-zjut">
            <a href="index.html">
                <img alt="LOGO" src="../resource/footer.jpg">
            </a>
        </div>
        <div id="info">
            <span>浙江省杭州市下城区潮王路18号</span>
            <span>邮编 310014</span>
            <span>查号台 0571-88320114</span>
            <span>版权所有</span>
            <span>浙公网安备 33010302002621号 </span>
        </div>
    </div>
</div>
<script src="../js/newsTemplate.js"></script>
</body>
</html>